# {{ ansible_managed }}

driver = pgsql
connect = host={{ mailserver_db_host }} dbname={{ mailserver_db_name }} user={{ mailserver_db_user }} password={{ mailserver_db_password }}

default_pass_scheme = {{ mailserver_password_scheme }}

password_query = SELECT password FROM mailbox WHERE username = '%u'
