{% for domain in mailserver_domains %}
{{ mailserver_dkim_selector }}._domainkey.{{ domain }} {{ domain }}:{{ mailserver_dkim_selector }}:{{ mailserver_dkim_key_dir }}/{{ domain }}/{{ mailserver_dkim_selector }}.private
{% endfor %}
